body {
    height: 100%;
}

.jumbotron{
    background-color: coral;
    color: cornsilk;
}

.footer{
    background-color: darkmagenta;
    color: lightgreen;
    position: absolute;    
    width: 100%;    
    margin: 10px 0px 0px 0px;
}

.card_articulo {
    display: flex!important;
	flex : 1 250px;
	padding: 2px 5px 2px 5px;
    margin-top: 10px;
    justify-content: space-between!important;
    flex-direction: column!important;
}